body {
  color: #2e2e2e;
  text-shadow: 0 0 1px #9d9d9d;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}

#hellobar-container {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
}

#hellobar-logo {
  display: none !important;
}

body.login {
  background: #0b9ce0 url(../images/pattern.png);
}

a {
  color: #0b9ce0;
}

a:hover {
  color: #0b9ce0;
}

.bar-none {
  background-color: #C1C1C1 !important;
}

.navbar-inner .brand {
  width: 147px;
  height: 40px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  display: inline-block;
  padding: 0;
  margin-left: 20px;
}

div#box {
  margin: 0;
  max-width: none;
  padding: 0;
  background: #fff;
}

div#preload {
  display: none;
}

.row.spacer {
  margin-top: 20px;
}

.row.login {
  padding-left: 310px;
}

.row.password {
  padding-left: 245px;
  margin-top: 20px;
}

.row.password input {
  height: 29px !important;
}

.center {
  text-align: center;
}

.center > ul,
.center > div,
.center > h1,
.center > h2,
.center > h3,
.center > h4,
.center > h5,
.center > h6,
.center > p {
  text-align: center;
}

.title {
  width: 100%;
  margin-top: 28px;
}

.title > h1,
.title > h2,
.title > h3,
.title > h4,
.title > h5,
.title > h6 {
  padding-left: 13px;
  padding-right: 13px;
  display: inline-block;
  margin: 0;
}

h1, h2, h3, h4 {
  font-style: normal;
  font-weight: 300;
}

p, .description, label, input, button {
  font-weight: 300;
  font-size: 13px;
}

.popover {
  z-index: 1000;
  width: 325px;
}

.popover th,
.popover td {
  font-style: normal !important;
  color: #313131 !important;
  font-size: 80%;
  padding-right: 3px;
}

.popover th {
  font-weight: 400 !important;
}

.popover td {
  font-weight: 300 !important;
}

.popover-title {
  display: none;
}

section {
  padding-top: 29px;
  position: relative;
}

section#header {
  background: #252629 url(../images/pattern.png);
  height: 100px;
  padding: 0 0 10px 0;
}

section#header.login {
  margin-top: 125px;
  background: #252629 !important;
  padding-bottom: 0;
}

section#header .wearesasquatch {
  background: url(../images/header.png) no-repeat center center;
  height: 100px;
  width: 100%;
  margin-left: auto;
}

section#home {
  background: #0b9ce0 url(../images/pattern.png);
  height: 300px;
  padding-bottom: 20px;
}

section#home .welcome {
  background: url(../images/home.png) no-repeat bottom center;
  height: 300px;
  width: 100%;
  margin-left: auto;
  padding-top: 40px;
}


section#home > .container {
  padding: 141px 0 178px;
}

section#home h1 {
  margin-top: 19px;
  font-size: 40px;
  line-height: 50px;
  font-weight: normal;
  text-transform: none;
  color: #ffffff;
}

section#home-team {
  background: #FFFFFF;
  height: 150px;
  padding: 0;
}

section#home-team.login {
  margin-top: 150px;
}

section#home-team .logo {
  display: inline-block;
  background: url(../images/team.png) no-repeat center center;
  height: 150px;
  width: 950px;
}

section#home-team .text {
  display: inline-block;
  font-size: 400%;
  font-weight: 300;
  position: relative;
  top: -45px;
  left: 30px;
}

section#team {
  z-index: 20;
}

section#team {
  background-color: white;
  color: #7c8387;
  text-shadow: 0 0 1px #dcdedf;
  padding-bottom: 50px;
}

section#team h1,
section#team h2,
section#team h3 {
  color: black;
  text-shadow: #9d9d9d;
}

section#team .title {
  background: url(../images/title-line-dark.png) left center repeat-x;
  margin-top: 31px;
}

section#team .title > h1,
section#team .title > h2,
section#team .title > h3,
section#team .title > h4,
section#team .title > h5,
section#team .title > h6 {
  background-color: white;
}

section#team #team {
  margin-top: 20px;
  margin-bottom: 0px;
}

section#team #team h3 {
  margin: 0;
}

section#team #team .photo {
  margin-top: 5px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  height: 225px;
  width: 225px;
  display: inline-block;
  background-size: 225px 225px;
}

section#team #team .photo .information {
  display: none;
}

section#team #team .photo.hover .information {
  display: block;
}

section#team #team .information {
  padding-top: 60px;
}

section#team #team .information p {
  color: #717171;
}

section#team #team .information.three {
  padding-top: 45px;
}

section#team #team .photo.oliver {
  background-image: url(../images/oliver.png);
  background-repeat: no-repeat;
}

section#team #team .photo.oliver.hover {
  background-image: url(../images/oliver_hover.png);
  background-repeat: no-repeat;
}

section#team #team .photo.michelle {
  background-image: url(../images/michelle.png);
  background-repeat: no-repeat;
}

section#team #team .photo.michelle.hover {
  background-image: url(../images/michelle_hover.png);
  background-repeat: no-repeat;
}

section#team #team .photo.thea {
  background-image: url(../images/thea.png);
  background-repeat: no-repeat;
}

section#team #team .photo.thea.hover {
  background-image: url(../images/thea_hover.png);
  background-repeat: no-repeat;
}

section#team #team .photo.hanna {
  background-image: url(../images/hanna.png);
  background-repeat: no-repeat;
}

section#team #team .photo.hanna.hover {
  background-image: url(../images/hanna_hover.png);
  background-repeat: no-repeat;
}

section#team #team .photo.vlad {
  background-image: url(../images/vlad.png);
  background-repeat: no-repeat;
}

section#team #team .photo.vlad.hover {
  background-image: url(../images/vlad_hover.png);
  background-repeat: no-repeat;
}

section#team #team .photo.jing {
  background-image: url(../images/jing.png);
  background-repeat: no-repeat;
}

section#team #team .photo.jing.hover {
  background-image: url(../images/jing_hover.png);
  background-repeat: no-repeat;
}

section#team .team-contact {
  font-size: 110%;
  font-style: italic;
  padding-top: 40px;
}

section#progress {
  background-color: #252629;
  color: #cbcfd1;
  text-shadow: 0 0 1px #515356;
  padding-bottom: 50px;
}

section#progress.login {
  padding-top: 0 !important;
}

section#progress.login .title {
  margin-top: 15px;
}

section#progress h1,
section#progress .title > h3 {
  color: white;
  text-shadow: 0 0 1px #515356;
}

section#progress .title {
  background: url(../images/title-line-light.png) left center repeat-x;
  margin-bottom: 4px;
}

section#progress .title > h1,
section#progress .title > h2,
section#progress .title > h3,
section#progress .title > h4,
section#progress .title > h5,
section#progress .title > h6 {
  background-color: #252629;
}

section#progress .title.indent {
  margin-top: 67px;
  margin-bottom: 38px;
}

section#progress .progress-descriptions {
  position: relative;
  top: -20px;
}

section#progress .accordion-group {
  border: 0px;
  border-bottom: 1px #919191;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  background-color: #414141;
}

section#progress .in.accordion-body {
  overflow: visible !important;
}

section#progress .accordion-toggle {
  color: #CBCFD1;
}

.accordion-toggle:hover {
  text-decoration: none;
}

.accordion-toggle .week {
  font-size: 130%;
}

.accordion-toggle .date {
  color: #919191;
  float: right;
}

section#progress .span2 {
  width: 14.5%;
}

section#progress .photo {
  margin-top: 5px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  display: inline-block;
  background-size: 100px 100px;
}

section#progress .login_google {
  margin-top: 25px;
  height: 50px;
  width: 300px;
  display: inline-block;
  background-image: url(../images/login_google.png);
  background-size: 300px 50px;
}

section#progress .new-task {
  background-color: #414141;
  padding: 7px 10px;
}

.new-task input {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  height: 30px;
}

.new-task input#completed {
  position: relative;
  top: -8px;
}

.new-task .control-group.first {
  padding-top: 20px;
}

.new-task .form-actions {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  border-width: 0;
  background-color: inherit;
}

section#progress table {
  width: 100%;  
  text-align: left;
}

section#progress tr.archived td,
section#progress tr.team td {
  color: #717171 !important;
}

section#progress table th,
section#progress table td {
  color: #CBCFD1;
  font-weight: 300;
}

section#progress table th {
  font-weight: 400;
}

section#progress .form-horizontal {
  position: relative;
}

section#progress .control-group {
  width: 50%;
}

section#progress .control-group.right {
  width: 25%;
  position: absolute;
  top: 0px;
  right: 15px;
}

section#progress .control-group.right .control-label {
  width: auto;
  margin-right: 10px;
  position: absolute;
  right: 95px;
}

section#progress .control-group.right input {
  position: absolute;
  right: 0px;
}

section#progress .control-group.right .control-label[for=ovr_wk] {
  top: 80px;
}

section#progress .control-group.right input#ovr_wk {
  top: 20px;
}

section#progress .control-group.right .controls {
  margin-left: 10px;
  position: absolute;
  right: 0;
}

section#progress a:hover {
  text-decoration: none;
}

section#progress .hours,
section#progress .span2 .progress {
  width: 100px;
  display: inline-block;
}

section#progress .hours {
  margin-top: 10px;
}

section#progress .progress {
  margin-top: 5px;
}

section#progress .tasks {
  position: relative;
  top: -40px;
  color: #FFFFFF;
}

section#progress .hour {
  font-size: 190%;
}

section#progress .photo.oliver {
  background-image: url(../images/oliver.png);
  background-repeat: no-repeat;
}

section#progress .photo.michelle {
  background-image: url(../images/michelle.png);
  background-repeat: no-repeat;
}

section#progress .photo.thea {
  background-image: url(../images/thea.png);
  background-repeat: no-repeat;
}

section#progress .photo.hanna {
  background-image: url(../images/hanna.png);
  background-repeat: no-repeat;
}

section#progress .photo.vlad {
  background-image: url(../images/vlad.png);
  background-repeat: no-repeat;
}

section#progress .photo.jing {
  background-image: url(../images/jing.png);
  background-repeat: no-repeat;
}

section#progress .photo.prof {
  background-image: url(../images/prof.png);
  background-repeat: no-repeat;
}

section#progress .photo.ta {
  background-image: url(../images/ta.png);
  background-repeat: no-repeat;
}

section#progress .photo.team {
  background-image: url(../images/teammbr.png);
  background-repeat: no-repeat;
}

section#progress .summary-table {
  width: 94%;
  margin-left: 35px;
  font-size: 13px !important;
}

section#progress .summary-table th {
  font-weight: 300 !important;
  font-variant: normal;
  font-size: 120%;
}

section#risks {
  z-index: 20;
}

section#risks {
  background-color: #252629;
  color: #cbcfd1 !important;
  text-shadow: 0 0 1px #515356;
  padding-bottom: 50px;
}

section#risks h1,
section#risks h2,
section#risks h3 {
  color: white;
  text-shadow: 0 0 1px #515356;
}

section#risks .title {
  background: url(../images/title-line-light.png) left center repeat-x;
  margin-top: 31px;
}

section#risks .title > h1,
section#risks .title > h2,
section#risks .title > h3,
section#risks .title > h4,
section#risks .title > h5,
section#risks .title > h6 {
  background-color: #252629;
}

section#risks .content {
  margin-top: 15px;
}

section#risks th {
  font-weight: 300;
  font-variant: normal;
  font-size: 120%;
  text-align: left;
  color: #cbcfd1 !important;
}

section#risks table {
  font-size: 13px !important;
}

section#risks .table-striped tbody>tr:nth-child(odd)>td,
section#risks .table-striped tbody>tr:nth-child(odd)>th {
  background-color: #414141 !important;
}

section#risks table td {
  border-top-color: #616161;
  color: #cbcfd1 !important;
}

section#risks ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section#servers {
  z-index: 20;
}

section#servers {
  background-color: white;
  color: #7c8387;
  text-shadow: 0 0 1px #dcdedf;
  padding-bottom: 75px;
}

section#servers h1,
section#servers h2,
section#servers h3 {
  color: black;
  text-shadow: #9d9d9d;
}

section#servers .title {
  background: url(../images/title-line-dark.png) left center repeat-x;
  margin-top: 31px;
}

section#servers .title > h1,
section#servers .title > h2,
section#servers .title > h3,
section#servers .title > h4,
section#servers .title > h5,
section#servers .title > h6 {
  background-color: white;
}

section#servers .content {
  margin-top: 15px;
}

section#servers .hero-unit {
  padding: 20px;
  font-size: 14px;
}

section#servers .hero-unit h4 {
  font-weight: 400;
}

section#servers .span1.pre {
  margin-right: 50px;
}

section#minutes {
  z-index: 20;
}

section#minutes {
  background-color: white;
  color: #7c8387;
  text-shadow: 0 0 1px #dcdedf;
  padding-bottom: 50px;
}

section#minutes h1,
section#minutes h2,
section#minutes h3 {
  color: black;
  text-shadow: #9d9d9d;
}

section#minutes .title {
  background: url(../images/title-line-dark.png) left center repeat-x;
  margin-top: 31px;
}

section#minutes .title > h1,
section#minutes .title > h2,
section#minutes .title > h3,
section#minutes .title > h4,
section#minutes .title > h5,
section#minutes .title > h6 {
  background-color: white;
}

section#minutes .content {
  margin-top: 15px;
}

section#resources {
  background-color: #252629;
  color: #cbcfd1;
  text-shadow: 0 0 1px #515356;
  padding-bottom: 50px;
}

section#resources h1,
section#resources .title > h3 {
  color: white;
  text-shadow: 0 0 1px #515356;
}

section#resources .title {
  background: url(../images/title-line-light.png) left center repeat-x;
  margin-bottom: 4px;
}

section#resources .title > h1,
section#resources .title > h2,
section#resources .title > h3,
section#resources .title > h4,
section#resources .title > h5,
section#resources .title > h6 {
  background-color: #252629;
}

section#resources .title.indent {
  margin-top: 67px;
  margin-bottom: 38px;
}

section#resources .resource {
  margin-left: auto;
  width: 80%;
}

section#resources .image {
	margin-top: 15px;
}

section#resources .description {
	padding-top: 15px;
}

section#resources .description h4 {
  margin-bottom: 5px;
}

section#resources .image {
  height: 60px;
  width: 60px;
}

section#resources .image.communication {
    background-image: url(../images/communication.png);
    background-repeat: no-repeat;
}

section#resources .image.management {
  background-image: url(../images/management.png);
  background-repeat: no-repeat;
}

section#resources .image.source {
  background-image: url(../images/source.png);
  background-repeat: no-repeat;
}

section#resources .image.file {
    background-image: url(../images/file.png);
    background-repeat: no-repeat;
}

section#resources .image.system {
    background-image: url(../images/system.png);
    background-repeat: no-repeat;
}

section#footer {
	padding-bottom: 29px;
  padding-left: 20px;
	font-size: 120%;
	font-weight: 300;
  background-image: url(../images/footer.png) ;
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #FFFFFF;
}

section#footer.login {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

section#footer .clickable {
  height: 78px;
  width: 120px;
  position: absolute;
  right: 0;
  top: 0;
}

/* Retina */
@media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {

  .navbar-inner .brand {
    background-image: url(../images/logo@2x.png);
    background-size: 147px 40px;
  }

  section#header .wearesasquatch {
    background: url(../images/header@2x.png) no-repeat center center;
    background-size: 960px 100px;
  }

  section#home .welcome {
    background: url(../images/home@2x.png) no-repeat bottom center;
    background-size: 950px 500px;
  }

  section#home-team .logo {
    background: url(../images/team@2x.png) no-repeat center center;
    background-size: 950px 150px;
  }

  section#progress .photo.prof {
    background-image: url(../images/prof@2x.png);
    background-size: 100px 100px;
  }

  section#progress .photo.ta {
    background-image: url(../images/ta@2x.png);
    background-size: 100px 100px;
  }

  section#progress .photo.team {
    background-image: url(../images/teammbr@2x.png);
    background-size: 100px 100px;
  }

  section#progress .login_google {
    background-image: url(../images/login_google@2x.png);
    background-size: 300px 50px;
  }

  section#resources .image.communication {
    background-image: url(../images/communication@2x.png) !important;
    background-size: 60px 60px;
  }

  section#resources .image.management {
    background-image: url(../images/management@2x.png) !important;
    background-size: 60px 60px;
  }

  section#resources .image.source {
    background-image: url(../images/source@2x.png) !important;
    background-size: 60px 60px;
  }

  section#resources .image.file {
    background-image: url(../images/file@2x.png) !important;
    background-size: 60px 60px;
  }

  section#resources .image.system {
    background-image: url(../images/system@2x.png) !important;
    background-size: 60px 60px;
  }

  section#footer {
    background-image: url(../images/footer@2x.png) !important;
    background-size: 400px 78px;
  }
}