*.suo
*.user
SasquatchCAIRS/SasquatchCAIRS/bin
SasquatchCAIRS/SasquatchCAIRS/Properties/PublishProfiles
SasquatchCAIRS/SasquatchCAIRS/Properties/PublishProfiles/*
SasquatchCAIRS/SasquatchCAIRS/obj
SasquatchCAIRS/*/obj
SasquatchCAIRS/*/bin
CAIRSMigrationTool/CAIRSMigrationTool/obj
CAIRSMigrationTool/CAIRSMigrationTool/bin
SasquatchCAIRS/CAIRSDocProject/Help