SasquatchCAIRS/SasquatchCAIRS.v11.suo
*.user
SasquatchCAIRS/SasquatchCAIRS/bin
SasquatchCAIRS/SasquatchCAIRS/Properties/PublishProfiles
SasquatchCAIRS/SasquatchCAIRS/Properties/PublishProfiles/*
SasquatchCAIRS/SasquatchCAIRS/obj
SasquatchCAIRS/CAIRSDocProject/obj
SasquatchCAIRS/CAIRSDocProject/Help
SasquatchCAIRS/CAIRSTestProject/obj
SasquatchCAIRS/CAIRSTestProject/bin