*.suo
*.user
SasquatchCAIRS/SasquatchCAIRS/bin
SasquatchCAIRS/SasquatchCAIRS/Properties/PublishProfiles
SasquatchCAIRS/SasquatchCAIRS/Properties/PublishProfiles/*
SasquatchCAIRS/SasquatchCAIRS/obj
*/obj
*/bin
*/obj/*
*/bin/*
SasquatchCAIRS/CAIRSDocProject/Help