<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAIRSMigrationTool.Properties.Settings.sasquatchConnectionString"
            connectionString="Data Source=sasquatch.cloudapp.net;Initial Catalog=sasquatch;Persist Security Info=True;User ID=team;Password=trecU5He"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>