@if (Request.IsAuthenticated) {
    String name =  User.Identity.Name;
        if (ViewBag.Profile.UserFullName != null && !string.Equals("",ViewBag.Profile.UserFullName)) {
            name = ViewBag.Profile.UserFullName;
    }

    <text>
    Hello, @Html.ActionLink(name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
    </text>
} else {
    <ul>
        <li>Not Authenticated</li>
    </ul>
}
