@using (Html.BeginForm("Search", "Search", FormMethod.Post,
            new {
                @class = "form form-search quick-search"
            })) {
    <div class="input-append quick-search-div">
        @Html.TextBox("keywords", "",
                    new {
                        @class = "span2 search-query",
                          @dp = "Quick Search"
                    })
        <button class="btn quick-search-button" type="submit">
            <i class="icon-search"></i>
        </button>
    </div>

<div class="adv-search-div">
        @Html.ActionLink("Advanced", "Advanced", "Search")
        <br />
        @Html.ActionLink("Search", "Advanced", "Search")
</div>
    }
