
@using (Html.BeginForm("Search", "Search", FormMethod.Post,
                       new {
                           @class = "form search-form"
                       })) {
    <div class="input-append quick-search-div">
        @Html.TextBox("keywords", "",
                      new {
                          @class = "span2 search-query noEnterSubmit",
                          @dp = "Quick Search"
                      })
        <button class="btn btn-custom menu-button search-button" type="submit">
            <i class="icon-search icon-white"></i>
        </button>
    </div>
}

<div class="adv-search-div">
    @if (ViewBag.Page == "advanced-search") {
        @Html.ActionLink("Advanced Search", "Advanced", "Search", new {}, new {@class = "btn menu-button btn-custom active"})
    } else {
        @Html.ActionLink("Advanced Search", "Advanced", "Search", new {}, new {@class = "btn menu-button btn-custom"})
    }
</div>


<script type="text/javascript">

    $(function () {
        $('.quick-search-div :submit').click(function (e) {
            if ($('.search-query').val().length == 0 || $('.search-query').val() == "Quick Search") {
                    e.preventDefault();
                }
            });
        });
    
    $('.noEnterSubmit').keypress(function(e){
        if (e.which == 13 && ($(this).val().length == 0 || $(this).val() == "Quick Search"))
            return false;
    });
</script>
