@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h3>Uh oh!</h3>
<p><strong>An error occurred while processing your request.</strong></p>
<p>Please contact your system administrator for more information.</p>

@if (Model != null) {
    <p>Support Information: </p>
    <p>Message: @Model.Exception.StackTrace</p>
    <p>Location: @Model.Exception.Source</p>
}
