@model SasquatchCAIRS.Models.UserProfile

<h3>User Information</h3>
<p>
    Name: @ViewBag.Profile.UserFullName <br />
    Email: @ViewBag.Profile.UserEmail <br />
    Status: @ViewBag.Profile.UserStatus <br />
</p>