@model SasquatchCAIRS.Models.ServiceSystem.DropdownEntry

@using SasquatchCAIRS.Models
@{
    ViewBag.Title = Constants.UIString.TitleText.CREATE_DROPDOWN;
    ViewBag.Page = "admin";
    ViewBag.Action = "Create";
}

@Html.Partial("_AdminNavPartial", new ViewDataDictionary {{"active", "dropdowns"}})

<h2>@Constants.UIString.TitleText.ADMIN - @Constants.UIString.TitleText.CREATE @Constants.getDropdownString(ViewBag.Table)</h2>
@if (ViewBag.Table != null) {
    Html.RenderPartial("_DropdownForm");
} else {
    <div class="message palette-danger-dark">The Table ID was not provided or is invalid.</div>
}